
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/javafx_aibot</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">admin</property>
        <property name="connection.password">admin</property>
        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!--mapping resource="logic/Bus.hbm.xml"/-->
        <!--mapping resource="logic/Driver.hbm.xml"/-->
        <!--mapping resource="logic/Route.hbm.xml"/-->
    </session-factory>
</hibernate-configuration>

